<footer th:fragment="footer" class="pie-pagina">
    <div class="grupo-1" >

        <div class="box-foto">
            <figure>
                <a href="/">

                    <img src="/img/logo-beauty-footer.jpeg" alt="logo de Beauty">

                </a>
            </figure>
        </div>

        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, corporis.</p>
        </div>

        <div class="box">
            <h2>ENCUÉNTRANOS EN</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-whatsapp"></a>
                <a href="#" class="fa fa-linkedin"></a>
            </div>
        </div>


    </div>

    <div class="grupo-2" >
        <hr>
        <small>Todos los derechos reservados &copy; 2021 - <b>Beauty</b></small>
    </div>
</footer>